* {box-sizing: border-box;}

body {
    margin: 0;
    background-color: rgb(231, 230, 230);
    font-family: yekan;
    direction: rtl;
}

@font-face {
    font-family: yekan;
    src: url(fonts/yekan-regular.woff) format("woff"); 
}

.grid-container {
    display: grid;
    grid-template-columns: auto;   
}

.grid-item {height: 110px;}

.header-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: rgb(250, 250, 250);
    height: 120px;
    justify-content: center;
    align-items: center;
}

.headmain {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
}

.header-flex1 {
    display: flex;
    align-items: center;
    align-content: center;
}

.order1 {
    text-align: left;
    flex-grow: 1;
    align-self: center;
    font-size: 25px;
}

.order2 {
    flex-grow: 1;
    text-align: right;
    align-self: center;
    margin-right: 10px;
}

.order2 input {
    height: 40px;
    width: 800px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
}

.order3 {
    position: relative;
    top: 6.4px;
    margin-right: 20px;
}

.header-flex2 {
    display: flex;
    justify-content: right;
    margin-top:2px;
    color: rgb(109, 109, 109);
    flex-wrap: wrap;
}

.header-flex2 div {font-size: 14.5px;}

.category {
    display: flex;
    align-content: center;
    margin-right: 26px;
    align-items: center;
}

.category::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f0c9";
    margin-left: 7px;
}

.market {
    margin-right: 58px;
    padding-right: 23px;
    border-right: rgb(206, 206, 206) 1px solid;
}

.market::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f291";
    margin-left: 7px;
}

.offers {margin-right: 25px;}

.offers::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f541";
    margin-left: 7px;
}

.my-digikala {margin-right: 25px;}

.my-digikala::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f2bd";
    margin-left: 7px;
}

.send {margin-right: 630px;}

.send::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f3c5";
    margin-right: 7px;
}

.three-container {
    direction: ltr;
    display: grid;
    grid-template-areas: 
    'left-top big-right big-right'
    'left-bottom big-right big-right';
    gap: 20px;
    padding: 20px 20px;
    height: auto;  
}

 .left-top {
    grid-area: left-top;
    border-radius: 20px;
    background-image: url('super.png') ,        
    radial-gradient(circle at -30% 0 ,rgb(157, 134, 209) , rgb(142, 39, 173));
    background-repeat: no-repeat;
    background-size: 200px 200px ,cover;        
    background-position: 30px 15px, 0 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 220px;
}

.left-top div {
    color: rgb(245, 245, 245);
    text-align: center;
    position: relative;
    right: 40px;
    font-size: 18px;
}

.left-bottom {
    grid-area: left-bottom;
    background-image: url('lebas.png') , 
    radial-gradient(circle at -30% 0 ,rgb(102, 235, 69),rgb(39, 189, 26)  );
    background-repeat: no-repeat , no-repeat;
    background-size: 180px 180px , cover;
    background-position: 30px 26px , 0 0;      
    background-position: 30px 15px, 0 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 220px;
    border-radius: 20px;
}

.left-bottom div {
    color: rgb(245, 245, 245);
    text-align: center;
    position: relative;
    right: 40px;
    font-size: 18px;
}

.right-big {
    grid-area: big-right;
    background-image: url('mobile.png') ,
    radial-gradient(circle at -10% 0 ,rgb(89, 154, 253) 20% , rgb(82, 108, 255));
    background-repeat: no-repeat , no-repeat;
    background-size: 360px 350px , cover;
    background-position: 50px 65px , 0 0 ;
    border-radius: 20px;  
    display: flex; 
    justify-content: right;
    align-items: center; 
}

.right-big-item {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 100px;
}

.right-big-back {
    background-color: rgb(255, 62, 62);
    width: 100px;
    height: 90px;
    text-align: center;
    color: white;
    border-radius: 5px 30px 30px 5px ;
} 

.topbig {
    position: relative;
    top: 8px;
    right: 1px;
}

.bigsize {
    font-size: 42px;
    position: relative;
    bottom: 12px;  
}

.right-big-main {
    text-align: center;
    color: white; 
    display: flex;
    flex-direction: column;
}

.takhfif {font-size: 33px;}

.buyflex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    align-items: center;
    gap: 10px;
}

.smaller {
    font-size: 24px;
    font-weight: lighter;
    text-align: right;
    opacity: .91;
    margin-bottom: 3px;
}

.buy {
    font-size: 16px; 
    align-self: center;
    color: rgb(58, 58, 58);
    border-radius: 10px 2px 2px 10px;
    padding: 0 6px;
    background-color: rgb(207, 207, 207);
}



.offer-container {
    display: flex;
    justify-content: center;
    height: auto;
    gap: 40px;
    padding: 25px 0;
    background-color: rgb(255, 87, 65);
    margin-top: 10px;
    direction: rtl;
}

.offer-div {
    box-shadow: 0 1px 6px 1px rgb(197, 61, 43);
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 390px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(240, 240, 250);
}

.n1 {visibility: hidden;}

.offer-div2 {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: -5px;
}

.offer-name {
    color: rgb(41, 41, 41);
    font-weight: 10;
    font-size: 14.5px;
}

.offer-price {
    direction: ltr;
    margin-top: 17px;
    margin-left: 10px;
}

.offer-price-sale {
    text-decoration: line-through;
    color: rgb(148, 148, 148);
    font-size: 19px;
    position: relative;
    top: 14px;
}

.offer-price-actual {
    color: rgb(97, 97, 97);
    font-size: 20px;  
}

.offer-price-actual span {
    font-size: 26px;
    color: rgb(71, 71, 71);
    font-weight: bold;
}


.categories-container {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 30px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgb(197, 197, 197);
}

.categories-header {
    /* border: 1px solid black; */
    text-align: center;
    color: rgb(100, 100, 100);
    font-size: 21px;
    margin-top: 6px;
}

.categories-bottom {
    display: flex;
    /* border: hotpink 1px solid; */
    justify-content: space-around;
    margin-top: 13px;
    margin-bottom: 10px;
}

.cate {
    /* border: 1px solid red; */
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cate-icon {
    font-size: 13px;
    text-align: center;
    /* background-color: rgb(102, 235, 69); */
    color: rgb(51, 51, 51);
}

.cate-icon::before{
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    font-size: 29px;
    margin-bottom: 7px;
    color: rgb(78, 157, 248);
}

.icon1::before { content:"\f109";}
.icon2::before { content:"\f0ad";}
.icon3::before { content:"\f553";}
.icon4::before { content:"\f1ae";}
.icon5::before { content:"\f004";}
.icon6::before { content:"\f4b8";}
.icon7::before { content:"\f5ae";}
.icon8::before { content:"\f6bb";}
.icon9::before { content:"\f291";}
.icon10::before { content:"\f557";}

.variety {
    text-align: center;
    font-size: 13px;
    color: rgb(78, 157, 248);
    margin-top: 6px;
}

/*.footer-container {
    border: rgb(0, 102, 255) solid 1px;
    direction: rtl;
    height: auto;
}

.footer-top {
    display: flex;
    flex-direction: column;
}

.logoback {
    display: flex;
    border: brown 1px solid;
}

.call {
    border: cyan 1px solid;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    border: darkgreen 1px solid;
}

.footer-columns {
    display: flex;
    border: 1px solid salmon;
} 










